/* * *
* Next Level Week - Day 1
* * */

:root {
    --dark-purple: #322153;
    --green: #34cb79;
}

/*
* Global
*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark-purple);
}
/* -- */


/*
* Content
*/
#page-home { 
    height: 100vh;
    background: url(../assets/home-background.svg) no-repeat;
    background-position: 35vw 15vh;
}

#page-home .content {  
    width: 90%;
    height: 100%;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

#page-home header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home header a { /* Link navbar */
    color: var(--dark-purple);
    display: flex;
    font-weight: 700;
}

#page-home header a span { /* Link navbar icon */
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: flex;
    background: url(../assets/log-in.svg);   
}

#page-home main {
    color: var(--dark-purple);
    max-width: 560px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 { 
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a { /* button */
    width: 100%;
    height: 72px;
    max-width: 360px;
    color: #fff;
    font-weight: 700;
    margin-top: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: 400ms;
    background: var(--green);
}

#page-home main a:hover {
    background-color: #2fb86e;
}

#page-home main a span { /* Button icon */
    width: 72px;
    height: 72px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.08);
}

#page-home main a strong { /* button content */
    text-align: center;
    font-size: 18px;
    flex: 1;
}
/* -- */


/*
* Responsive
*/
@media (max-width: 900px) {
    #page-home {
        background-position: 70vh;
    }

    #page-home .content {
        text-align: center;
        align-items: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
   
    #page-home main h1 {
        font-size: 35px;
    }
    
    #page-home main p {
        font-size: 20px;
    }

    #page-home main a {
        width: 70%;
    }
}
/* -- */