#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
    background: #0E0A15ef;
}

#modal.hide {
    display: none;
}

#modal .content {
    color: #fff;
    width: 420px;
}

#modal .header {
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modal .header a {
    width: 20px;
    height: 20px;
    font-size: 0.01px;
    display: flex;
    background: url(../assets/x.svg);
}

#modal .header h1 {
    color: #fff;
    font-size: 36px;
    line-height: 42px;
}

#modal form label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    display: block;
}

#modal form .field {
    display: flex;
}

#modal form input {
    color: #6c6c80;
    font-size: 16px;
    border-radius: 15px 0 0 15px;
    border: 0;
    padding: 16px 24px;
    outline: none;
    flex: 1;
    background: var(--bg);
}

#modal form button {
    width: 72px;
    height: 72px;
    border: 0;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    background: var(--green);
}

#modal form button:hover {
    background: #2fb85e;
}


/* Cadastro concluído modal */
#modal.point .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.point h1 {
    color: #fff;
    margin-top: 32px;
}