/* * *
* Page create point
* Day 2
* * * */

body {
    background: #fff;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
    background: #f0f0f5;
}

/*
* Header
*/
#page-search {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-search header a {
    color: var(--dark-purple);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-search header a span {
    width: 20px;
    height: 23px;
    margin-right: 16px;
    display: flex;
    background: url(../assets/arrow-left.svg);
}
/* -- */



main {
    margin: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

main .card h1 {
    color: #322153;
    font-size: 36px;
    line-height: 41px;
    margin-top: 32px;

}

main .card h3 {
    color: var(--green);
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    margin: 24px 0;
}

main .card p {
    color: #6C6C80;
    font-size: 16px;
    line-height: 26px;
}


