/* * *
* Next Level Week
* * */

:root {
    --dark-purple: #322153;
    --green: #34cb79;
    --bg: #f0f0f5;
}

/*
* Global
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark-purple);
}
/* -- */


