<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Requiered Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecoleta</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">       
        <!-- Stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
        </head>
        <body>

        {% block styles %} 
        {% endblock styles %}


        <div id="{{ pageId }}">
        {% block content %}
        {% endblock content %}
        </div>

        {% block modal %}
        {% endblock modal %}

        {% block scripts %}
        {% endblock scripts %}

    </body>
    </html>